<aside>
    <div class="side-menu">
        <div class="brand">
            <h4>
                <a class="navbar-brand" href="/">
                    <strong>SYS-</strong>
                    Store
                </a>
            </h4>
        </div>
        <ul class="menu list-unstyled">
            <li class="nav-item <%= pageTitle === 'Home' ? 'active' : '' %>">
                <a href="/">
                    <p>
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                        <span class="chevrone"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item <%= pageTitle === 'Cart' ? 'active': '' %>">
                <a href="/cart">
                    <p>
                        <i class="fa fa-shopping-cart"></i>
                        <span>Cart</span>
                        <span class="chevrone"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item <%= pageTitle === 'Orders' ? 'active': '' %>">
                <a href="#">
                    <p>
                        <i class="fa fa-shopping-bag"></i>
                        <span>Orders</span>
                        <span class="chevrone"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item <%= pageTitle === 'Add Product' ? 'active': '' %>">
                <a href="#">
                    <p>
                        <i class="fa fa-list-ul"></i>
                        <span>Items</span>
                        <span class="chevrone"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item <%= pageTitle === 'Users' ? 'active': '' %>">
                <a href="/users">
                    <p>
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                        <span class="chevrone"></span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</aside>